.niceInput {
	background-color:#FFFFFF;
	margin:0 8px 0 0;
	padding:5px;
	font-size:14px;
	outline:none;
	height:16px;
	resize:none;
	
	font-family:Arial, Helvetica, sans-serif;
}

.niceInput.full {
	margin:0;
	width:100%;
}

.niceInput:hover {
	border-color:#76A7D5;
}

.niceInput:focus {
	border-color:#1F82DE;
}

.container,
.niceInput,
.niceInput:disabled {
	border:1px solid #CCCCCC;
	border-top-color:#BBBBBB;
	border-bottom-color:#DDDDDD;
	background-color:#FFFFFF;
}

.niceInput:disabled {
	background-color:#F0F0F0;
}

.niceButton {
	width:75px;
	height:28px;
	line-height:28px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	padding:0;
	margin:0;
	outline:none;
	cursor:default;
	
	background-color:#1D7AD0;
	border:1px solid #1862A7;
	color:#FFFFFF;
	
	font-family:Arial, Helvetica, sans-serif;
}

.niceButton:hover {
	background-color:#4C9BE5;
}

.niceButton:active {
	background-color:#358BDB;
}

.niceButton.red {
	background-color:#DF1F1F;
	border:1px solid #C81C1C;
}

.niceButton.red:hover {
	background-color:#FF3333;
}

.niceButton.red:active {
	background-color:#A71717;
}

.niceButton:disabled {
	background-color:#F0F0F0;
	border-color:#CCC;
	color:#999;
}

/*
.container,
.niceInput,
.niceInput:disabled {
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
}

.niceButton {
	border:1px solid #CCCCCC;
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
	background:#F0F0F0;
	color:#999;
}

.niceButton:hover {
	color:#666;
	border-color:#76A7D5;
}

.niceButton:active {
	border-color:#1F82DE;
	background-color:#EAEAEA;
	color:#333;
}

.niceInput {
	background-color:#FFFFFF;
	margin:0 8px 0 0;
	padding:5px;
	font-size:14px;
	outline:none;
	height:16px;
}

.niceInput.full {
	margin:0;
	width:100%;
}

.niceInput:hover {
	border-color:#76A7D5;
}

.niceInput:focus {
	border-color:#1F82DE;
}

.container,
.niceInput,
.niceInput:disabled {
	border:1px solid #CCCCCC;
	border-top-color:#BBBBBB;
	border-bottom-color:#DDDDDD;
	background-color:#FFFFFF;
}

.niceInput:disabled {
	background-color:#F0F0F0;
}

.niceButton {
	width:75px;
	height:28px;
	line-height:28px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	padding:0;
	margin:0;
	outline:none;
	cursor:default;
		
	border:1px solid #4C9BE5;
	border-color:#CCC;
	background:#F0F0F0;
	color:#666;
	
	font-family:Arial, Helvetica, sans-serif;
}

.niceButton:hover,
.niceButton:focus {
	border-color:#4C9BE5;
	color:#358BDB;
	background-color:#FFFFFF;
}

.niceButton:active {
	border-color:#358BDB;
	background-color:#F0F0F0;
	color:#444;
}


.niceButton.red {
	border:1px solid #C81C1C;
}

.niceButton.red:hover,
.niceButton.red:focus {
	border-color:#C81C1C;
	color:#A71717;
}

.niceButton.red:active {
	border-color:#A71717;
}

.niceButton:disabled {
	background-color:#F0F0F0;
	border-color:#CCC;
	color:#999;
}

/*
.niceButton {
	border:1px solid #CCCCCC;
	background:#F0F0F0;
	color:#999;
}

.niceButton:hover {
	color:#666;
	border-color:#76A7D5;
}

.niceButton:active {
	border-color:#1F82DE;
	background-color:#EAEAEA;
	color:#333;
}
*/